body {
 background-image: url("mainBackground.jpg");
 background-size:cover;
}

img.displayed {
 position:absolute;
 left:15%;
 top:25%;
 border-radius: 100%;
 height:30em;
}

p {
 color: white;
 font-weight: bold;
 text-align:center;
}

h1 {
 color: white;
 font-weight: bold;
 text-align:center;
}

.mask {
 position:absolute;
 top:45%;
 right:20%;
 width:30%;
 background:rgba(0,0,0,0.4);
}
