   h1 {
    position:absolute;
    top:20%;
    left:10%;
    font-size:6em;
    width:40%;
   }
   p {
    font-size: 1.125em;
    position:absolute;
    top:40%;
    left:50%;
    width:40%;
   }

   a:hover {
    color:orange;
   }
   a:link {
    text-decoration: none;
   }
   a:visited { 
    color: purple;
   }
   .content {
    position:absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height:130%;
    color: white;
   }

   body {
    background-image:url('bk.jpg');
    background-size:cover;
   }

   .contacts {
   position:absolute;
   left:6%;
   top:50%;
   width:45%;
   }

   button {
   height:3em;
   width:12em;
   display:block;
   margin-left:2%;
   margin-right:2%;
   margin-top:3%;
   }
