.heading {
    font-family: Times, serif;
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 2em;
    display: block;
   }
   body {
    padding-top: 5%;
   }
   a:hover {
    text-weight: bold;
   }
   a:link {
    text-decoration: none;
   }
   a:visited { 
    color: purple;
   }
   #content {
    background-color: white;
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    border-left: 10px solid #222;
    border-right: 10px solid #222;
    padding-left: 2%;
    padding-right: 2%;
    display: block; 
    font-family: times, serif;
    font-size: 1.25em;
   }
