.heading {
    text-align: center;
    font-weight: bold;
    color: beige;
    font-size: 2em;
    display: block;
   }
   body {
    padding-top: 5%;
    background-image:url("bk.jpg");
    background-size:cover;
   }
   a:hover {
    text-weight: bold;
   }
   a:link {
    text-decoration: none;
   }
   a:visited { 
    color: purple;
   }
   #content {
    background-color:rgba(0,0,0,0.4);
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    padding-left: 2%;
    padding-right: 2%;
    display: block; 
    color:beige;
    font-size: 1.25em;
   }
